body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  padding: 30px;
}

h1 {
  text-align: center;
}

.project {
  background: #1e293b;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #22c55e;
  border: none;
  padding: 8px 15px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
}
